# Dependencies
node_modules
npm-shrinkwrap.json

# Build output
public/js/lib
public/bootstrap

# Test dependencies
test/lib

# Logs
*.log

# Legacy files
typings

# Data files (non-standard JSON format)
data/**/*.json

# Old config files
test/client/.eslintrc.json
