# Dependencies
node_modules
npm-shrinkwrap.json

# Libraries
public/js/lib
public/bootstrap

# Test dependencies
test/lib

# Logs
*.log

# Legacy files
typings

# Data files (non-standard JSON format)
data/**/*.json

