div.modal.fade(id="createWaypointDialog", tabindex="-1" aria-labelledby="createWaypointDialogLabel" aria-hidden="true")
  div.modal-dialog.modal-sm
    div.modal-content
      div.modal-header
        h5.modal-title(id="createWaypointDialogLabel") Create a waypoint at this location:
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      div.modal-body
        form.horizontal-form
          div.form-group
            div.input-group
              input.form-control(id="newWaypointName", type="text", autocomplete='off', placeholder="Waypoint name...")
              div.input-group-append
                button.btn.btn-primary(type="submit") Create
