extends layout

block body
  div.contentArea.tab-content(id='map_canvas')
    div.contents.tab-pane.fade.in.active(id='bing-maps')
    div.contents.map-control.tab-pane.fade(id='google-maps')
    // TODO: Here apparently supports canvas for hardware accel?
    div.contents.map-control.tab-pane.fade(id='here-maps')

block scripts
  script(data-main='js/main', src='js/lib/require.js')
