doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Trail Maps
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Trail maps')
    meta(name='author', content='Eric Lee (saintgimp@hotmail.com)')

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css', integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB", crossorigin="anonymous")
    link(rel='stylesheet', href='http://js.api.here.com/v3/3.0/mapsjs-ui.css')
    link(rel='stylesheet', href='/stylesheets/typeahead.css')
    link(rel='stylesheet', href='/stylesheets/app.css')

  body
      block body

      block scripts
