doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Trail Maps
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Trail maps')
    meta(name='author', content='Eric Lee (saintgimp@hotmail.com)')

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/typeahead.css')
    link(rel='stylesheet', href='/stylesheets/app.css')

  body
      block body

      block scripts
