extends layout

block body
  div.contentArea.tab-content(id='map_canvas')
    div.contents.map-control.tab-pane(id='bing', data-bind='css: {active: activeMapName() === "bing"}')
    div.contents.map-control.tab-pane(id='google', data-bind='css: {active: activeMapName() === "google"}')
    // TODO: Here apparently supports canvas for hardware accel?
    div.contents.map-control.tab-pane(id='here', data-bind='css: {active: activeMapName() === "here"}')
    div.crosshair
      img(src='/images/crosshair.png')

block scripts
  script
    trailMaps = window.trailMaps || {};
    trailMaps.configuration = trailMaps.configuration || {};
    trailMaps.configuration.defaultMapName = '#{defaultMapName}';
    trailMaps.configuration.defaultLatitude = #{defaultLatitude};
    trailMaps.configuration.defaultLongitude = #{defaultLongitude};
    trailMaps.configuration.defaultZoom = #{defaultZoom};

  script(data-main='/js/maps', src='/js/lib/require.js')
