extends layout

block body
  div.contentArea.tab-content(id='map_canvas')
    div.contents.tab-pane.active(id='bingmaps')
    div.contents.map-control.tab-pane(id='googlemaps')
    // TODO: Here apparently supports canvas for hardware accel?
    div.contents.map-control.tab-pane(id='heremaps')

block scripts
  script(data-main='js/main', src='js/lib/require.js')
