extends layout

block body
  div.contentArea.tab-content(id='map_canvas')
    div.contents.map-control.tab-pane(id='bing', data-bind='css: {active: activeMapName() === "bing"}')
    div.contents.map-control.tab-pane(id='google', data-bind='css: {active: activeMapName() === "google"}')
    // TODO: Here apparently supports canvas for hardware accel?
    div.contents.map-control.tab-pane(id='here', data-bind='css: {active: activeMapName() === "here"}')

block scripts
  script
    trailMaps.mapName = '#{mapName}';
  script(data-main='js/maps', src='js/lib/require.js')
