extends layout

block body
  div.contentArea.tab-content(id='map_canvas')
    div.contents.map-control.tab-pane(class=mapName === 'bing' ? 'active' : '', id='bing')
    div.contents.map-control.tab-pane(class=mapName === 'google' ? 'active' : '', id='google')
    // TODO: Here apparently supports canvas for hardware accel?
    div.contents.map-control.tab-pane(class=mapName === 'here' ? 'active' : '', id='here')

block scripts
  script
    trailMaps.mapName = '#{mapName}';
  script(data-main='js/maps', src='js/lib/require.js')
