header
  nav
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Trail Maps
          .nav-collapse.collapse
            ul.nav.nav-pills
              li(data-bind="css: {active: activeMapName() === 'bing'}")
                a(href='#{baseMapUrl}/bing', data-bind='click: onPillClick') Bing
              li(data-bind="css: {active: activeMapName() === 'google'}")
                a(href='#{baseMapUrl}/google', data-bind='click: onPillClick') Google
              li(data-bind="css: {active: activeMapName() === 'here'}")
                a(href='#{baseMapUrl}/here', data-bind='click: onPillClick') Here
            
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle="dropdown") Tools
                ul.dropdown-menu
                  li
                    a(href='#', data-bind='click: displayUrl') Generate URL in address bar

              form.navbar-form.pull-right(id='searchForm', data-bind='submit: search')
                // Have to update form elements after each keypress for IE: https://github.com/SteveSanderson/knockout/issues/760
                input.search-query(id='searchBox', type='text', autocomplete='off', data-bind='value: searchText, valueUpdate: "afterkeydown"', placeholder='waypoint, mile, or lat/long')
