header
  nav
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Trail Maps
          .nav-collapse.collapse
            ul.nav.nav-pills
              li.active
                a(data-toggle="pill", href='#bingmaps', data-bind='click: showMap') Bing
              li
                a(data-toggle="pill", href='#googlemaps', data-bind='click: showMap') Google
              li
                a(data-toggle="pill", href='#heremaps', data-bind='click: showMap') Here
            form.navbar-form.pull-right(id='searchForm', data-bind='submit: gotoWaypoint')
              input.search-query.mile-marker-query(id='searchBox', type='text', data-bind='value: searchText', placeholder='go to mile marker')
