header
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button' data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Trail Maps
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-pills
          li
            a(href=baseMapUrl + '/bing') Bing
          li
            a(href=baseMapUrl + '/google') Google
          li
            a(href=baseMapUrl + '/here') Here
          li
            a(href='https://earth.google.com/web') Earth
        
        ul.nav.navbar-nav
          li
            p.navbar-text.hidden-xs(style='padding-right:15px') |
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle="dropdown") Tools
              span.caret
            ul.dropdown-menu
              li
                a(href="#createWaypointDialog", role="button", data-toggle="modal") Create new waypoint
              li
                a(href=waypointsUrl) Edit waypoints
        
        form.navbar-form.navbar-right(id='searchForm', role='search')
          .form-group
            input.form-control.input-sm.typeahead(id='searchBox', type='text', autocomplete='off', placeholder='waypoint, mile, or lat/long')
