header
  nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-lg
    .container-fluid
      a.navbar-brand(href='/') Trail Maps
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.nav.nav-pills
          li.nav-item
            a.nav-link(href=baseMapUrl + '/bing') Bing
          li.nav-item
            a.nav-link(href=baseMapUrl + '/google') Google
          li.nav-item
            a.nav-link(href=baseMapUrl + '/here') Here
          li.nav-item
            a.nav-link(href='https://earth.google.com/web') Earth
        
        ul.nav.navbar-nav
          li.nav-item
            hr.d-lg-none
            span.nav-link.d-none.d-lg-block.mx-2 |
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Tools
            ul.dropdown-menu
              li
                a.dropdown-item(href="#createWaypointDialog" role="button" data-bs-toggle="modal") Create new waypoint
              li
                a.dropdown-item(href=waypointsUrl) Edit waypoints
        
        form.d-flex.ms-auto(id='searchForm' role='search')
          input.form-control.form-control-sm(id='searchBox' type='text' autocomplete='off' placeholder='waypoint, mile, or lat/long')
