extends layout

block body
  div(id='waypoints', style='display:none')
    table.table.table-striped.table-bordered
      thead
        tr
          th(style='width: 300px;') Name
          th Halfmile Description
          th(style='width: 170px;') Latitude/Longitude
          th(style='text-align:right;')
      tbody

block scripts
  script(data-main='/js/waypoints', src='/js/lib/require.js')
