extends layout

block body
  div(id='waypoints', data-bind='visible: waypoints().length > 0', style='display:none')
    table.table.table-striped.table-bordered
      thead
        tr
          th Name
          th(style='width: 170px;') Latitude/Longitude
          th(style='text-align:right;')
      tbody(data-bind=" template: { name: templateName, foreach: waypoints }")

block scripts
  script(id='waypoint-template', type='text/html')
    tr
      td(data-bind='text: name, event: { dblclick: $root.edit }')
      td
        a(style='cursor:pointer;', data-bind='text: latitude.toFixed(5) + ", " + longitude.toFixed(5), click: displayOnMap')
      td
        div.btn-group.btn-group-sm
          button.btn.btn-primary(data-bind='click: $root.edit') Edit
          button.btn.btn-link(data-bind='click: $root.deleteWaypoint') Delete

  script(id='edit-template', type='text/html')
    tr
      td
        input(style='width: 100%;', data-bind='value: name, hasfocus: true, enterkey: $root.confirmEdit, escapekey: $root.cancelEdit, event: { blur: $root.cancelEdit }')
        td
          a(style='cursor:pointer;', data-bind='text: latitude.toFixed(5) + ", " + longitude.toFixed(5), click: displayOnMap')
      td
        div.btn-group.btn-group-sm
          button.btn.btn-primary(data-bind='click: $root.confirmEdit') Ok
          button.btn.btn-link(data-bind='click: $root.cancelEdit') Cancel

  script(data-main='/js/waypoints', src='/js/lib/require.js')
